/**/.vscode
/**/benchmarks
/**/.idea
/**/target
/**/Cargo.lock
/**/*.el~
/**/\#*
/**/\.\#*
/**/*.py
/**/benchmark.txt
/elisp/slackmacs-module-rs.so
/elisp/slackmacs-rust-backend
/**/*.tar
code_examples
/**/lcov.info
uwagi.md